$body-bg-color: #FFF;
$body-text-color: #6b717f;
$section-border-color: #8C8C8C;
$section-shadow-color: #6b717f;
$code-bg-color: #000;
$code-border-color: #6B717f;
$code-text-color: #8C8C8C;
$header-text-color:  #BF4080;
$warning-border-color: #8C8C8C;
$warning-text-color: #fff;
$success-bg-color: green;
$error-bg-error: red;
$warning-bg-color: orange;
$padding: 16px;
$base-bg-color: #8C8C8C;
$base-color: #F00;